.star-slider {
  width: 100%;
  background: #373737;
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

.star {
  margin-top: 10px;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
}

.star.yellow {
  color: yellow;
}

@media (max-width: 830px) {
  .star {
    font-size: 35px;
  }
}
