.App {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.App > * {
  flex-basis: 50%;
}

.App > :nth-child(3),
:nth-child(4),
:nth-child(5),
:nth-child(6),
:nth-child(7),
:nth-child(8) {
  flex-basis: 100%;
}

.App > :nth-child(9) {
  flex-basis: 40%;
}

.App > :nth-child(10) {
  flex-basis: 60%;
}

@media (max-width: 830px) {
  .App > * {
    flex-basis: 100%;
  }

  .App > :nth-child(9) {
    flex-basis: 100%;
  }

  .App > :nth-child(10) {
    flex-basis: 100%;
  }
}
